Boolean

Boolean and Logical operators

Lists

Comparision Operators

Dictionaries

Tuples

Sets

# Boolean - used to represent true values

In [1]:
type(True)

bool

In [2]:
type(False)

bool

In [3]:
string = "Remya R S"

In [11]:
# To check whether string variable is alpha-numerical type
print(string.isalnum())
# To check whether string variable is alphbetic
print(string.isalpha())
# To check whether string variable is numerical type
print(string.isdigit())
# To check whether string variable contain capital letters in begining of a word - title case
print(string.istitle())
# To check whether string variable has all letters in upper case
print(string.isupper())
# To check whether string variable has all letters in lower case
print(string.islower())
# To check whether string variable contains space in between
print(string.isspace())
# To check whether string variable starts with a given letter
print(string.startswith('R'))
# To check whether string variable ends with a given letter
print(string.endswith('R'))

False
False
False
True
False
False
False
True
False

# Boolean and Logical Operators

In [12]:
True and True

True

In [13]:
True and False

False

In [14]:
False and False

False

In [15]:
True or True

True

In [16]:
True or False

True

In [17]:
False or False

False

In [18]:
string.endswith('R') or string.startswith('R')

True

In [19]:
string.endswith('R') and string.startswith('R')

False

# Lists - Mutable, ordered sequence of elements inside [ ]

In [101]:
my_list = ['a','a',1,2,10,True,[2,'k'],(9,0)]
type(my_list) 
# Elements insde list can be of any types

list

In [102]:
len(my_list)

8

In [103]:
# To get number of times an element occurs in the list
my_list.count(10)

1

In [104]:
my_list.count('k')

0

In [105]:
my_list.count((9,0))

1

In [106]:
#To remove element in a particular index
my_list.pop(0)
my_list

['a', 1, 2, 10, True, [2, 'k'], (9, 0)]

In [107]:
#Indexing in list
# Index usually starts with 0
my_list[0]

'a'

In [108]:
# To return index of a paricular element in list
# my_list.index(value)
my_list.index('a')

0

In [113]:
# my_list.index(value, start index,stop index)
my_list.index('a',0,4)

0

In [114]:
# Last element of list id denoted by index -1
my_list[-1]

(9, 0)

In [115]:
# To range of elements from index 1
my_list[1:]

[1, 2, 10, True, [2, 'k'], (9, 0)]

In [116]:
# To range of elements ending at index 2, or first 3 elements
my_list[:3]

['a', 1, 2]

In [117]:
# To range of elements starting from index 1 to 3
my_list[1:4]

[1, 2, 10]

In [118]:
# To extend list using append keyword (to add list inside list)
my_list.append(["xyz", 1])
print(my_list)

['a', 1, 2, 10, True, [2, 'k'], (9, 0), ['xyz', 1]]

In [119]:
# To extend list using extend keyword (to add multiple elements)
my_list.extend(["xyz", 1])
print(my_list)

['a', 1, 2, 10, True, [2, 'k'], (9, 0), ['xyz', 1], 'xyz', 1]

In [120]:
# To extend list using extend keyword (to add list)
my_list.extend([["xyz", 1]])
print(my_list)

['a', 1, 2, 10, True, [2, 'k'], (9, 0), ['xyz', 1], 'xyz', 1, ['xyz', 1]]

In [122]:
my_new_list = [1,8,0,9]

In [123]:
max(my_new_list)

9

In [124]:
min(my_new_list)

0

max and min are applicable to numerical lists only

# SETS - Mutable, Iterable & Unordered Collection of data which has no duplicate elements , written inside curly braces { }

In [134]:
# Its created with the help of empty set formed using function set()
set_1 = set()

In [135]:
type(set_1)

set

In [148]:
set_1 = {"Data Science","Data Analysis", "Artificial Intelligence","Machine Learning"}
type(set_1)

set

set_var

In [137]:
print(set_1)

{'Data Analysis', 'Artificial Intelligence', 'Machine Learning', 'Data Science'}

In [149]:
# To add new element to set
set_1.add("Deep Learning")
print(set_1)

{'Deep Learning', 'Machine Learning', 'Data Analysis', 'Artificial Intelligence', 'Data Science'}

No indexing is possible in sets

In [150]:
set_2 = {'Data Analysis', 'Data Science'}

In [140]:
set_2.difference(set_1)

set()

In [151]:
set_1.difference(set_2)

{'Artificial Intelligence', 'Deep Learning', 'Machine Learning'}

In [153]:
# But
print(set_1)

{'Deep Learning', 'Machine Learning', 'Data Analysis', 'Artificial Intelligence', 'Data Science'}

In [154]:
# to update values in set 1
set_1.difference_update(set_2)
print(set_1)

{'Deep Learning', 'Machine Learning', 'Artificial Intelligence'}

# Dictionary - Unordered, Mutable, Indexed elements in curly braces, have keys and values

In [155]:
dict_1 = {"car1":"Nexon","car2":"Punch","car3":"Harrier" }
type(dict_1)

dict

Difference between dictionary and set is that:

Set has no index, dictionary has keys as index

In [156]:
my_set_1 = {"Nexon","Punch","Harrier" }
type(my_set_1)

set

In [157]:
dict_1["car1"]

'Nexon'

In [158]:
for x in dict_1:
    print(x)

car1
car2
car3

In [160]:
for x in dict_1.values():
    print(x)

Nexon
Punch
Harrier

In [161]:
for x in dict_1.items():
    print(x)

('car1', 'Nexon')
('car2', 'Punch')
('car3', 'Harrier')

In [162]:
#Adding new elements in dictionary
dict_1["car4"] = "Tiago"

for x in dict_1.items():
    print(x)

In [164]:
#To replace elements
dict_1["car4"] = "Altroz"

In [165]:
for x in dict_1.items():
    print(x)

('car1', 'Nexon')
('car2', 'Punch')
('car3', 'Harrier')
('car4', 'Altroz')

# Nested Dictionary

In [170]:
car1_model = {"Nexon":2017}
car2_model = {"Punch":2021}
car3_model = {"Harrier":2019}

In [171]:
car_type = {"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [172]:
for x in car_type.items():
    print(x)

('car1', {'Nexon': 2017})
('car2', {'Punch': 2021})
('car3', {'Harrier': 2019})

In [173]:
print(car_type['car1'])

{'Nexon': 2017}

In [174]:
print(car_type['car1']['Nexon'])

2017

# Tuples - Immutable set of elements within ( )

In [185]:
tuple_1 = ("vegetables", "Fruits", "Herbs")
print(tuple_1)

('vegetables', 'Fruits', 'Herbs')

In [186]:
tuple_1[0]

'vegetables'

In [187]:
tuple_1[0]='bakery'
print(tuple_1)

TypeError: 'tuple' object does not support item assignment

So tuple does not support item assignment
But whole tuple can be changed

In [190]:
tuple_1=('biriyani','fried rice')
print(tuple_1)

('biriyani', 'fried rice')

In [192]:
# To count number of times an element occurs
tuple_1.count('biriyani')

1

In [193]:
# To find index of an element occurs
tuple_1.index('biriyani')

0